.env
__pycache__/
*.pyc
.DS_Store
.vscode/
.idea/
node_modules/
dist/
build/
*.log
coverage/
*.sqlite3
*.db
.env.local
.env.development
.env.test
.env.production
*.iml
*.class
*.jar
*.war
*.ear
*.swp
*.swo
thumbs.db
ehthumbs.db
Desktop.ini
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
coverage/
reports/
*.orig
venv